body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #141414;
  overflow-y: hidden;
  position: relative;
}

img {
  width: 100px;
}
.navbar {
  background-color: transparent;
  height: 100px;
}
.navbar__logo {
  width: 100px;
}
h1 {
  color: white;
  font-size: 3em;
}
.content {
  margin: 0 10%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.profils {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.profils__profil {
  margin-left: 10px;
}
.profils__profil,
img {
  border-radius: 19px;
}

img {
  border: 2px solid transparent;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 250px;
}
.net:hover {
  border: solid transparent 2px;
}
img:hover {
  border: 2px solid white;
}

a:hover {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.navbar__logo:hover {
  border: none;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

a {
  text-decoration: none;
  color: transparent;
}
